<!doctype html>
<head>
<title>Crontab UI</title>
<script src="jquery.js"></script>
<script src="bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css" />
</head>
<body>
<% include navbar %>
<div class="container">
	<h2>Jobs</h2>
	<table class="table">
	<tr>
		<th>Job</th>
		<th>Time</th>
		<th>Last Modified</th>
		<th></th>
	</tr>
	<% crontabs.forEach(function(crontab){ %>
		<% if (!crontab.stopped) { %>
			<tr>
				<td><%= crontab.command %></td>
				<td><%= crontab.schedule %></td>
				<td><%= crontab.timestamp %></td>
				<td>
					<a class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
					<a class="btn btn-info"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</a>
					<a class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
				</td>
			</tr>
		<% } else { %>
			<tr style="background:#3A6DA6;color:#fff">
				<td><%= crontab.command %></td>
				<td><%= crontab.schedule %></td>
				<td><%= crontab.timestamp %></td>
				<td>
					<a class="btn btn-info"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start</a>
					<a class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
				</td>
			</tr>
		<% } %>
	<% }); %>



	</table>
	<a class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New</a>
	<a class="btn btn-info"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Backup</a>
	<a class="btn btn-info"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export</a>
	<span id="save-reset">
		<a class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset</a>
		<a class="btn btn-success"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</a>
	</span>
</div>
</body>
</html>
