<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Crontab UI</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-icons.min.css" rel="stylesheet">
<link href="css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/dataTables.min.js"></script>
<script src="js/dataTables.bootstrap5.min.js"></script>
<script src="script.js"></script>
<script src="mailconfig.js"></script>
<script type="text/javascript">
	var crontabs = [];
	var routes = [];
	document.addEventListener('DOMContentLoaded', function() {
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
		tooltipTriggerList.map(function (el) { return new bootstrap.Tooltip(el); });
		crontabs = JSON.parse('<%- crontabs.replace(/\\\\/g, "\\\\\\\\").replace(/\\\"/g,"\\\\\"").replace(/\'/g,"\\\'").replace(/\\t/g, " ") %>');
		routes = JSON.parse('<%- routes %>');
		$("#env_vars").val(`<%- env  %>`);
	});
</script>
</head>
<body>
<%- include('navbar.ejs') -%>
<div class="container-fluid">
	<h2>Cronjobs</h2>
	<div class="mb-3">
		<label for="env_vars" class="form-label">Environment Variables:</label>
		<textarea class="form-control" rows="3" id="env_vars" placeholder="# Please set PATH, MAILTO, HOME... here"></textarea>
	</div>
	<div class="mb-3">
		<a class="btn btn-primary" onclick="newJob();"><i class="bi bi-plus-circle"></i> New</a>
		<a class="btn btn-info" onclick="doBackup();"><i class="bi bi-download"></i> Backup</a>
		<form id="import_form" enctype="multipart/form-data" action="<%= JSON.parse(routes).import %>" method="post" style="display:none">
			<input type="file" id="import_file" name="import_file" onchange="$('#import_form').submit()"/>
		</form>
		<a class="btn btn-warning" onclick="import_db()"><i class="bi bi-box-arrow-in-down"></i> Import</a>
		<a class="btn btn-warning" href="<%= JSON.parse(routes).export %>"><i class="bi bi-box-arrow-up"></i> Export</a>
		<a class="btn btn-success" onclick="getCrontab();"><i class="bi bi-arrow-down-circle"></i> Get from crontab</a>
		<a class="btn btn-success" onclick="setCrontab();"><i class="bi bi-save"></i> Save to crontab</a>
		<a class="btn btn-outline-secondary" onclick="viewCrontab();"><i class="bi bi-code-square"></i> View crontab</a>
	</div>

	<table class="table table-striped" id="main_table">
		<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Job</th>
		<th>Time</th>
		<th>Last Modified</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<% var index = 1 %>
	<% JSON.parse(crontabs).forEach(function(crontab){ %>
		<% if (!crontab.stopped) { %>
			<tr>
		<% } else { %>
			<tr class="table-primary">
		<% } %>
				<td>
					<%= index %>.
					<% index += 1 %>
				</td>

				<td>
					<% if (crontab.name) { %>
						<%= crontab.name %>
						<a class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="<%= crontab._id %>"><i class="bi bi-info-circle"></i></a>
						<% if (crontab.saved) { %>
							<i class="bi bi-check-circle text-success"></i>
						<% } else { %>
							<a data-bs-toggle="tooltip" data-bs-placement="right" title="'Save to crontab' to deploy">
								<i class="bi bi-exclamation-circle text-warning"></i>
							</a>
						<% } %>
					<% } else { %>
						<%= crontab._id %>
					<% } %>
				</td>
				<td><%= crontab.command %></td>
				<td>
					<span style="cursor:pointer" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= crontab.next %>">
							<%= crontab.schedule %>
					</span>
					<a class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="<%= crontab.human %>">
						<i class="bi bi-info-circle"></i>
					</a>
				</td>
				<td style="width:20%" title="<%= crontab.timestamp %>"><%= dayjs(new Date(crontab.timestamp)).fromNow() %></td>
				<td>

		<% if (!crontab.stopped) { %>
			<% if (crontab.logging && crontab.logging != "false") {%>
					<a class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="stderr" href="<%= JSON.parse(routes).logger + '?id=' + crontab._id %>" target="_blank"><i class="bi bi-journal-text"></i></a>
					<a class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="stdout" href="<%= JSON.parse(routes).stdout + '?id=' + crontab._id %>" target="_blank"><i class="bi bi-journal-text"></i></a>
			<% } %>
					<a class="btn btn-sm btn-info" onclick="runJob('<%= crontab._id %>')"><i class="bi bi-play-fill"></i> Run now</a>
					<a class="btn btn-sm btn-primary" onclick="editJob('<%= crontab._id %>')"><i class="bi bi-pencil-square"></i> Edit</a>
					<a class="btn btn-sm btn-secondary" onclick="stopJob('<%= crontab._id %>')"><i class="bi bi-stop-fill"></i> Disable</a>
		<% } else { %>
					<a class="btn btn-sm btn-info" onclick="startJob('<%= crontab._id %>')"><i class="bi bi-play-fill"></i> Enable</a>
		<% } %>
					<a class="btn btn-sm btn-warning" onclick="duplicateJob('<%= crontab._id %>')"><i class="bi bi-copy"></i></a>
					<a class="btn btn-sm btn-danger" onclick="deleteJob('<%= crontab._id %>')"><i class="bi bi-trash"></i></a>
				</td>
			</tr>
	<% }); %>


</tbody>
	</table>
</div>
<%- include('popup.ejs') -%>
<script>
   document.addEventListener('DOMContentLoaded', function() {
   	$('#main_table').DataTable({
   		order: [[1, 'asc']],
   		columns: [
   			{orderable: false},
   			null,
   			null,
   			null,
   			{orderable: false},
   			{orderable: false}
   		],
        	stateSave: true,
        	stateDuration: 0
  	});
   });
 </script>
</body>
</html>
